@import '../global/global.css';
@import './partials/menu.css';
@import './partials/section-home.css';
@import './partials/section-sobre.css';
@import './partials/section-projeto.css';
@import './partials/section-servicos.css';
@import './partials/section-contato.css';
@import './partials/footer.css';
